<form #form="ngForm" (ngSubmit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="personID" #personID="ngModel" [(ngModel)]="service.formData.personID">
  <div class="form-group">
    <label>FIRSTNAME</label>
    <input name="firstname" #firstname="ngModel" [(ngModel)]="service.formData.firstname" required class="form-control">
    <div class="validation-error" *ngIf="firstname.invalid && firstname.touched">This field is required</div>
  </div>
  <div class="form-group">
        <label>LASTNAME</label>
        <input name="lastname" #lastname="ngModel" [(ngModel)]="service.formData.lastname" required class="form-control">
        <div class="validation-error" *ngIf="lastname.invalid && lastname.touched">This field is required</div>
  </div>
  <div class="form-group">
        <label>PATRONYMIC</label>
        <input name="patronymic" #patronymic="ngModel" [(ngModel)]="service.formData.patronymic" required class="form-control">
        <div class="validation-error" *ngIf="patronymic.invalid && patronymic.touched">This field is required</div>
  </div>
  <div class="form-group">
      <label>POSITION</label>
      <input name="position" #position="ngModel" [(ngModel)]="service.formData.position" class="form-control">
  </div>
  <div class="form-group">
        <label>POSITION</label>
        <input name="email" #email="ngModel" [(ngModel)]="service.formData.email" class="form-control">
  </div>
  <div class="form-row">
      <div class="form-group col-md-6">
          <label>EMPCODE</label>
          <input name="empCode" #empCode="ngModel" [(ngModel)]="service.formData.empCode" class="form-control">
      </div>
      <div class="form-group col-md-6">
          <label>phone</label>
          <input name="phone" #phone="ngModel" [(ngModel)]="service.formData.phone" class="form-control">
      </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form>